@font-face {
  font-family: 'Built Titling';
  src: url('../fonts/built titling sb.ttf')  format('truetype');
  src: url('../fonts/built titling rg.ttf')  format('truetype');


}

html { 
  background: url(../img/default_bg.png) no-repeat center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
}



html,body{
    font-family: 'Built Titling', Fallback, sans-serif;
	margin:0;
	padding:0;
	height:100%;

}

.variable_tag {
    color: #00a651;
    font-weight: 500;
    font-size: 40px;
}

h3 {
    color: #00a651;
    font-weight: 500;
    font-size: 20px;
}

.wrap{
	width: 100%;
    height: 69%;

}
.container {
    position: relative;
    height:80%;
    height:50%;
}

.image {
    position: fixed;
    
}

.imageOne {
    z-index: 1;
    height: 100%;
    width:100%;

}

.imageTwo {
    z-index: 2;
    height: 100%;
    width:100%;

}


  /*
     * Center the slider by wrapping it in a container
     */
    .slider-container {
        text-align: center;
      }
        /*
         * Another container that holds the actual background of the slider,
         * with padding to make sure the handle doesn't go outside of the background.
         */
        .slider-bg {
            background: url('../img/Tube_mid.png');
            height: 134px;
            width: 28px;
            padding-top: 20px;
            padding-bottom: 7px;
            margin: 0 auto;
            

           }
            /*
             * The actual element holding the slide handler
             */
            .ui-slider {
                height: 134px;
                width: 62px;
                background: url('../img/Tube_mid.png');
               

                /* Overrides */
                 /*-moz-border-radius-topleft: 14px; */
                 /*-webkit-border-top-left-radius: 14px; 
                 -khtml-border-top-left-radius: 14px; */
                 /*/*border-top-left-radius: 14px; 
                 -moz-border-radius-topright: 14px; 
                 -webkit-border-top-right-radius: 14px; 
                 -khtml-border-top-right-radius: 14px; */
                 /*border-top-right-radius: 14px; 
                 -moz-border-radius-bottomleft: 14px; 
                 -webkit-border-bottom-left-radius: 14px; 
                 -khtml-border-bottom-left-radius: 14px; 
                 border-bottom-left-radius: 14px;
                -moz-border-radius-bottomright: 14px; 
                -webkit-border-bottom-right-radius: 14px; 
                -khtml-border-bottom-right-radius: 14px; */
                /*border-bottom-right-radius: 14px; */
                border-bottom-left-radius:0 !important;
                border-bottom-right-radius:0 !important;
                border-top-left-radius:0 !important;
                border-top-right-radius:0 !important;

               }

                .ui-slider-handle {
                    width: 70px !important;
                    height: 35px !important;

                    background: url(../img/Thumb.png) 0% 0% ! important;
                    z-index:2;
                    left: -7px !important;
                    .border-radius(0 0 0 0);
                    border: 0px !important;
                }

                .ui-slider-range {
                    width: 10px;
                    background: url(../img/element.png) 0% 0%;
                    
                }
.ui-widget-header
{
    border: 1px solid #dddddd;
    background: url(../img/element.png) no-repeat 50% 50%;
    color: #444444;
    -moz-border-radius: 52px;
/*    border-radius: 52px;
*/    margin-left: 6px;
} 

.ui-widget-content {
    border: none !important;
} 

*:focus {
    outline: none !important;
}

